<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal-container">
    <div class="modal-content">
      <h2 class="modal-title">{{ headerTitle }}</h2>
      
      <input 
        type="text" 
        class="modal-input"         
        [(ngModel)]="inputValue"
        (keyup.enter)="ok()" maxlength="15"
      />
      
      <div class="modal-actions">
        <button class="btn-cancel" (click)="cancel()">Cancel</button>
        <button class="btn-ok" (click)="ok()">OK</button>
      </div>
    </div>
  </div>
</div>
