<div class="container-fluid" [ngClass]="{'dark-mode1': !isDarkMode, 'light-mode1': isDarkMode}" *ngIf="!isverified">
    <div class="col-md-12 text-center" style="margin-top: 8px;">
        <div style="padding-top:15px; padding-bottom: 10px;">
            <p class="p1_lmode">Verification</p>
            <p class="p1_lmode2"> Mobile No : {{dataInfo.mobile}}</p>

        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <form [formGroup]="OTPForm">
            <div class="form-row justify-content-center">
                <div class="otp-wrapper">
                    <div class="form-group text-center">
                        <label>Enter Verification Code</label>
                        <input type="text" formControlName="otp" required placeholder="Enter OTP" class="feedback-input"
                            (keypress)="numericOnly($event)" maxlength="6" />
                        <div class="text-danger mt-1"
                            *ngIf="otpControl.invalid && (otpControl.dirty || otpControl.touched)">
                            <small *ngIf="otpControl.errors?.required">OTP is required.</small><br />
                            <small *ngIf="otpControl.errors?.pattern">Only numbers are allowed.</small><br />
                            <small *ngIf="otpControl.errors?.minlength">OTP must be 6 digits.</small>
                        </div>
                    </div>
                    <!-- Resend OTP -->
                    <!-- <div class="resend-otp text-center" (click)="resendOtp()">
                        Resend OTP
                    </div> -->
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12" style="margin-top:20px;">
        <div class="text-center my-3">
            <button (click)="cancel()" class="btncancel w-30">
                Cancel
            </button>&nbsp;
            <button (click)="submitOTP()" class="btnsubmit w-30">
                Verify
            </button>
            <!-- <div style="text-decoration: underline;margin-top: 3px;margin-bottom: 5px;
             font-family: 'Alata';
             font-size: 12px;cursor: pointer;">Resend OTP</div> -->
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isverified" style="padding: 30px;">
    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <img src="../../../assets/verified.png" class="img-fluid" alt="Verified Icon" style="max-height: 50px;">
        </div>
        <div class="col">
            <p class="verifytext mb-1">Email ID is verified.</p>
            <p class="verifytext">This member has been added to the editorial board.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-auto">
            <button style="background-color: rgba(241, 129, 1, 1); color: white;
             border-radius: 6px; padding: 8px 12px; border: none;" (click)="okcall()">
                Ok
            </button>
        </div>
    </div>
</div>