

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center py-3">
      <img src="../../../assets/logo.png" class="img-fluid" style="max-height: 100px;">
    </div>
  </div>
</div> -->

<div class="header-fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center py-1">
        <img src="../../../assets/logo.png" class="img-fluid header-logo">
      </div>
    </div>
  </div>
</div>
