
.header-container {
  width: 100%;
  margin: 0 auto;
 padding-top: 15px;
 padding-bottom: 20px;
 justify-content: center;

}

.logo img {
  width: 60%;
}
.header-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-logo {
  max-height: 100px;
  width: auto;
}

.page-content {
  margin-top: 130px; /* Adjust based on your header height */
}
