
<div class="page-content">
    <div class="title-bar">
        <div class="contact-blink">
            Contact Us:
            <span>7093227022</span>,
            <span>7093237022</span>,
            <span>7995187022</span>
        </div>
        <span class="title-text">Mock Exam Portal</span>
        <button class="admin-btn" (click)="AdminLogin()">Admin</button>
    </div>
</div>


<div class="tests-scroll">
    <div class="content-container">
        <h3>Select Exam Type</h3>
        <div class="select-wrapper">
            <select class="custom-select" [(ngModel)]="selectedExam" (change)="onChange($event)">
                <option value="">-select-</option>
                <option *ngFor="let exam of exams" [value]="exam" [attr.selected]="exam === selectedExam ? '' : null">
                    {{ exam }}
                </option>
            </select>
        </div>
    </div>
</div>