<div class="page-content">
    <div class="title-bar">
        Mock Exam Portal
    </div>
</div>


<div class="login-container">
    <div class="login-card">
        <h1 class="login-title">Login into your account</h1>

        <form #loginForm="ngForm" (ngSubmit)="submitlogin(loginForm)">
            <!-- Username Field -->
            <div class="form-group">
                <label class="form-label">User Name</label>
                <div class="input-wrapper">
                    <!-- <input type="text" class="form-input" placeholder="gfkjshdgfgdud" [(ngModel)]="username"
                        name="username" required  maxlength="20"/> -->
                    <input type="text" class="form-input" (keypress)="numericOnly($event)"
                        placeholder="Enter mobile number" [(ngModel)]="username" name="username" required
                        pattern="^[0-9]{10}$" maxlength="10" #phone="ngModel" />

                    <button type="button" class="input-icon-btn user-icon">
                        <img src="../../../assets/user.png" alt="User" class="icon-img" />
                    </button>
                </div>
                <div class="error-text" *ngIf="phone.invalid && phone.touched">

                    <span *ngIf="phone.errors?.['required']">
                        Phone number is required
                    </span>

                    <span *ngIf="phone.errors?.['pattern']">
                        Enter a valid 10-digit phone number
                    </span>

                </div>

            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label class="form-label">Password</label>
                <div class="input-wrapper">
                    <!-- <input [type]="showPassword ? 'text' : 'password'" class="form-input"
                        placeholder="Enter your password" [(ngModel)]="password" name="password" maxlength="8"
                        required /> -->
                    <input [type]="showPassword ? 'text' : 'password'" class="form-input"
                        placeholder="Enter your password" [(ngModel)]="password" name="password" required minlength="8"
                        maxlength="8" #pwd="ngModel" />

                    <button type="button" class="input-icon-btn lock-icon" (click)="togglePasswordVisibility()">
                        <img src="../../../assets/Frame.png" alt="Lock" class="icon-img" />
                    </button>
                </div>
                <div class="error-text" *ngIf="pwd.invalid && pwd.touched">

                    <span *ngIf="pwd.errors?.['required']">
                        Password is required
                    </span>

                    <span *ngIf="pwd.errors?.['minlength']">
                        Password must be 8 characters
                    </span>

                </div>

            </div>

            <!-- Login Button -->
            <button type="submit" class="login-btn">Login now</button>
        </form>

        <!-- Divider -->
        <div class="divider">
            <span class="divider-text">OR</span>
        </div>

        <!-- Register Button -->
        <button type="button" class="register-btn" (click)="onRegister()">Register</button>
    </div>
</div>