<div class="page-content">
    <div class="title-bar">
        <span class="title-text">Mock Exam Portal</span>
        <span class="admin-btn">
            <span class="timer-value">
                <span class="timer-icon">⏱️</span>
              {{ formatTime(state.timeRemaining) }}

            </span>
        </span>
    </div>
</div>


<div class="test-container">
      <!-- TIME UP MESSAGE -->
    <div *ngIf="timeUp" class="time-up-box">
        ⏳ Your time is up!
    </div>
    <div class="container test-content" *ngIf="currentView === 'test'">

        <div class="question-section">

            <!-- Question Header -->
            <div class="question-header">
                <p class="question-label">Questions:</p>
                <p class="question-text">{{ getCurrentQuestion().text }}</p>
            </div>
            <div class="options-section">
                <div class="row" >
               
                    <div class="col-md-5">

                        <label class="option" *ngFor="let option of getCurrentQuestion().options; let i = index">

                    <input type="radio" class="option-radio" [name]="'question' + state.currentQuestion" [value]="i"
                        [checked]="state.userAnswers[state.currentQuestion] === i" (change)="selectAnswer(i)" />

                    <span class="option-label">({{ getOptionLetter(i) }})</span>
                    <span class="option-text">{{ option }}</span>

                </label>

                    </div>

                </div>
            </div>



            <!-- Navigation -->
            <div class="navigation-buttons">

                <!-- Previous button (hidden on first question) -->
                <button class="btn-custom" (click)="previousQuestion()" *ngIf="state.currentQuestion > 0"
                    style="background-color: rgba(228, 159, 11, 1);">
                    <img src="../../../assets/previs.png" width="10"> &nbsp; Previous
                </button>

                <!-- Next button (only show if NOT last question) -->
                <button class="btn-custom" (click)="nextQuestion()" style="background-color: rgba(228, 159, 11, 1);"
                    *ngIf="state.currentQuestion < questions.length - 1">
                    Next &nbsp;<img src="../../../assets/nxt.png" width="10">
                </button>

                <!-- Submit button (show on all pages except last) -->
                <button class="btn-custom" (click)="submitTest()" style="background-color: rgba(228, 159, 11, 1);"
                    *ngIf="state.currentQuestion < questions.length - 1">
                    Submit
                </button>

                <!-- Finish button (only show on last question) -->
                <button class="btn-custom" (click)="finishTest()" style="background-color: rgba(0, 6, 96, 1);"
                    *ngIf="state.currentQuestion === questions.length - 1">
                    Finish
                </button>
            </div>


            <!-- Footer Stats -->
            <div class="footer-wrapper">
                <div class="footer-stats">                    
                    <div class="stat stat-border">Attempted: {{ getResults().attempted }}</div>
                    <div class="stat stat-border">Yet to Attempt: {{ getResults().yet }}</div>
                    <!-- <div class="stat">Score: {{ getResults().marks }}/{{ questions.length * 2 }}</div> -->
                      <div class="stat">Score: {{ 0 }}/{{ questions.length * 2 }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Results Page -->
    <div class="results-container" *ngIf="currentView === 'results'">
        <div class="container">

            <div class="row">
                <div class="question-section">
                    <div class="footer-wrapper">
                        <div class="footer-stats">
                           <div class="stat stat-border">Marks: {{ getFinalResults().marks }}</div>
                            <div class="stat stat-border">Correct Attempt: {{ getFinalResults().correct }}</div>
                            <div class="stat stat-border">Wrong Attempt: {{ getFinalResults().wrong }}</div>
                            <div class="stat stat-border">Not Attempt: {{ getFinalResults().skipped }}</div>
                            <div class="stat">Score: {{ getFinalResults().scorePercent }}%</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-contetn-center text-center" style="padding-top:30px;">
                <div class="col-md-12">
                    <button class="btn-custom" (click)="closeResults()" style="background-color: rgba(0, 6, 96, 1);">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>